<%- include('partials/nv_trangdau') %>
<body>
  <div class="say--hello">
      <h3>Tiệm Trái Dừa</h3>
      <h1>
         Nhân Viên
      </h1>
  </div>
  <div class="banner">
      <div class="product">
          <div class="soda" style="--url: url(/uploads/62a58f59a34707195e5612.jpg)">
          </div>
          <div class="soda" style="--url: url(/uploads/d6521a855c99f8c7a1889.jpg)">
          </div>
      </div>
      <div class="rock">
          <img src="/uploads/rock1.png" alt="">
          <img src="/uploads/rock2.png" alt="">
          <img src="/uploads/rock3.png" alt="">
      </div>
  </div>
</body>
<%- include('partials/nv_trangcuoi') %>
